* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
}
header{
    display: flex;
    background-color: rgb(255, 246, 162);
    height: 100px;
}
aside{
    background-color:rgb(112, 160, 243);
    flex-direction: column;
    height: 550px;
    width: 300px;
}
main{
    background-color:rgb(133, 247, 133) ; 
    width: 1500px;
}
footer{
    display: flex;
    background-color: rgb(235, 196, 202);
    height: 100px;
}
.container {
    display: flex;
}
