@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.c1 { 
    color:#d1ffc2;
    text-align: center;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
    background-color: #70845d;
}
.colunas {
    column-count: 3;
    column-gap: 50px;
}
.c2 {
    font-family: "Abril Fatface", serif;
    font-weight: 150;
    padding-left: 2%;
    padding-right: 2%;
    text-align:justify;
    background-color: #70845d;
    font-optical-sizing:auto;
    font-style: normal;
    color: #e6fcd0;
    font-size: 1.5em
}

body {
    background-image: url();
}

ul.menu li {
    display: inline-block;
    list-style: none;
}
.menu a {
    width: 7.5rem;
    background-color: #d1ffc2;
    padding: .625rem;
    transition: 0.3s;
    border: .0625rem transparent;
    display: inline-flex;
    text-decoration: none;
    color:#abc097;
    text-align: center;
    font:sans-serif;
    font-style: italic;
    font-family:"Playfair Display", "serif";
    font-optical-sizing:auto;
    font-size: 30px;
}

ul.menu a:hover {
    border: .0625rem transparent;
    background-color: aqua;
    color: aliceblue;
}
div#secao1 {
    width: 100%;
    background-color: #70845d;
    height: fit-content;

}

div#secao2 {
    width: 100%;
    background-color: #70845d;
    height: fit-content;

}

div#secao3 {
    width: 100%;
    background-color: #70845d;
    height: fit-content;

}

html {
    scroll-behavior: smooth;
    background-color: #abc097;
}

.rodape {
    font-family: "Abril Fatface", serif;
    font-weight: 150;
    padding-left: 2%;
    padding-right: 2%;
    text-align:justify;
    background-color: #70845d;
    font-optical-sizing:auto;
    font-style: normal;
    color: #e6fcd0;
    font-size: 0.7em
}

.principal{
    background-image: url(https://st.depositphotos.com/52593200/59415/i/450/depositphotos_594155310-stock-photo-aesthetic-cute-green-checkers-checkerboard.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    margin-top: 200px ;
}

.secundaria{
    background-image: url(https://st.depositphotos.com/52593200/59415/i/450/depositphotos_594155310-stock-photo-aesthetic-cute-green-checkers-checkerboard.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    margin-top: 200px ;
}