*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    background-image:url(imagens/pizzafundo1.jpg);
    background-size: cover;
    height: 700px;
    background-color: antiquewhite;
    background-position: center;
    background-size: 130%;
}
.inicio{
    text-align:center;
    color: white;
    font-size: 100px;
    padding-top: 250px;
}

#bmenu{
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

#open{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    padding-top: 150px;
    font-family: "Dancing Script", cursive;
}

.preto{
    background-color: black;
}

#menu{
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 40px;
}
.nomepizza{
    color: white;
    padding-left: 450px;
    font-size: 30px;
    padding-top: 10px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.descricaopizza{
    font-size: 30px;
    color: rgb(255, 229, 149);
    padding-left: 450px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#red{
    background-color: red;
}
#novo{
    background-color: gray;
}
.about{
    background-color: rgb(126, 76, 76);
    font-size: 50px;
    padding-top: 110px;
    padding-bottom: 70px;
    text-align: center;
    color: white;
}
.abouttxt{
    background-color: rgb(126, 76, 76);
    color: white;
    padding-left: 300px;
    padding-right: 250px;
    text-align:left;
    font-size: 20px;
    padding-bottom: 30px;
    font-family: "Dancing Script", cursive;
}
#espaco{
    padding-bottom: 50px;
    font-size: 30px;
    color: rgb(255, 229, 149);
    padding-left: 450px;
    padding-top: 10px;
}
#pizzaria{
    height: 800px;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#f{
    background-color: rgb(126, 76, 76);
}

